<!DOCTYPE html>
<html>
  <head>
    <title>1-Dollar Journeys</title>
    <%- include('partials/head.ejs') %>
  </head>
<body>
  <div class="container-fluid w-75">
    <div class"row">
      <div class="column">
        <h1 class="text-primary text-center">Megabus Deals</h1>
      </div>
    </div>
    <div class="row">
      <h4 class="text-secondary muted text-center"><%= sourceCity %> - <%= destinationCity %></h4>
    </div>
    <div class="row">
      <div class="accordion" id="journeyInformation" >
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Out Journey
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#journeyInformation" style="">
            <div class="accordion-body">
              <ul id="outJourneyList">
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Return Journey
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#journeyInformation" style="">
            <div class="accordion-body">
              <ul id="returnJourneyList"> 
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/script.ejs') %>
  <script>
    // Add an event listener we'll use to add relevant journeys to cart
    document.addEventListener('click', function(e) {
      if (e.target) {
        // TODO hook up journey buttons to relevant functionality
        var clickId = e.target.id;
      }
    });
    var xhttp = new XMLHttpRequest();
    xhttp.overrideMimeType("application/json");
    xhttp.open("GET", "deals?sourceCity=<%= sourceCity %>&destinationCity=<%= destinationCity %>&outDateSelection=<%= outDates %>&returnDateSelection=<%= returnDates %>");
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onreadystatechange = function() {
      if (this.readyState === 4 && this.status === 200) {
        var response = this.responseText;
        var data = JSON.parse(response).data;
        var outJourneyList = document.getElementById("outJourneyList");
        var returnJourneyList = document.getElementById("returnJourneyList");

        for (var outJourney of data.outJourneys) {
          var curJourney = document.createElement("li");
          curJourney.setAttribute("id", outJourney.departureDateTime);
          curJourney.appendChild(document.createTextNode(outJourney.departureDateTime));
          outJourneyList.appendChild(curJourney);
        }
        
        for (var returnJourney of data.returnJourneys) {
          var curJourney = document.createElement("li");
          curJourney.setAttribute("id", returnJourney.departureDateTime);
          curJourney.appendChild(document.createTextNode(returnJourney.departureDateTime));
          returnJourneyList.appendChild(curJourney);

        }
      }
    }
    xhttp.send();
  </script>
  </body>
</html>
